footer {
    background-color: $bg-color;
    color: $light-color;
    padding: 50px 0;
    text-align: center;
  
    .container {
      justify-content: space-around;
  
      .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .fas {
          display: inline-block;
          background-color: $primary-color;
          height: 50px;
          width: 50px;
          line-height: 50px;
          color: $dark-color;
          margin-bottom: 10px;
        }
      }
  
      p {
        font-size: 0.8em;
      }
    }
  }