.box1
{
    width: 200px;
    height: 200px;
    background-color: rgb(104, 91, 116);
    transform: rotate(45deg); /*przekrecenie*/
    margin: 100px auto;
}
.box2
{
    width: 200px;
    height: 200px;
    background-color: rgb(116, 91, 103);
    transform: scale(1.5); /*zwięszenie*/
    margin: 100px auto;
}
.box3
{
    width: 200px;
    height: 200px;
    background-color: rgb(91, 116, 110);
    transform: translate(50px, 100px); /*przesuniecie*/
    margin: 100px auto;

}