*
{
    margin: 0;
    padding: 0;
    back
}
.box
{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    overflow: hidden; /*utnie dalsza czesc textu*/
    overflow: scroll; /*scroll prawa lewa*/
    overflow: auto; /*scroll tylko w pionie*/
}