.box
{
    border: 2px solid red;
    display: flex; /*display flex odzialowuje na dzieci*/
    flex-direction: row;
    justify-content: space-evenly; /*rozmieszczenie elementów w rzedzie*/
    height: 100vh;
    align-items: center; /*rozmieszcczenie w pionoe*/
    flex-wrap: wrap; /*responsywnosc - zawija na dol*/
}
.item
{
    border: 2px solid green;
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    flex-basis: 25%; /*szerokosc dzieci*/
}
.item1
{
    align-self: bottom;
    order: 1; /*zmiana kolejnosci*/
    flex-grow: 10; /*jesli jest miejsce to porzerz 10-krotnie przybiera an wartosci*/
}
.item2
{
    order: 3;
}
.item3
{
    order: 3;
}